<!-- Page Preloder -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
      <div class="logo">
        <a href="./index.html">
          <img src="assets/img/logo.png" alt="" />
        </a>
      </div>
  
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar" class="menu-toggle"><i class="fa-solid fa-bars"></i></label>
  
      <div class="nav-menu">
        <nav class="mainmenu mobile-menu">
          <ul>
            <li><a routerLink="/">Home</a></li>
            
          </ul>
        </nav>
        <a routerLink="/signup" class="primary-btn signup-btn">Sign Up Today</a>
        <a class="login-btn" routerLink="/login">Login</a>
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>
  </header>
  
<!-- Header End -->

<!-- Hero Section Begin -->
<section
  class="hero-section set-bg"
  [style.background-image]="'url(./assets/img/hero-bg.jpg)'"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="hero-text">
          <span>FITNESS ELEMENTS</span>
          <h1>BMI CALCULATOR</h1>
          <p>
            Gutim comes packed with the user-friendly BMI Calculator<br />
            shortcode which lets
          </p>
          <a href="#" class="primary-btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- About Section Begin -->
<section class="about-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-pic">
          <img src="assets/img/about-pic.jpg" alt="" />
          <a
            href="https://www.youtube.com/watch?v=SlPhMPnQ58k"
            class="play-btn video-popup"
          >
            <img src="assets/img/play.png" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-text">
          <h2>Story About Us</h2>
          <p class="first-para">
            Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean
            pretium sollicitudin, nascetur auci elit consequat ipsutissem niuis
            sed odio sit amet nibh vulputate cursus a amet.
          </p>
          <p class="second-para">
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
            gravida quam semper libero sit amet. Etiam rhoncus. Maecenas tempus,
            tellus eget condimentum rhoncus, gravida quam semper libero sit
            amet.
          </p>
          <a href="#" class="primary-btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Services Section Begin -->
<section class="services-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="services-pic">
          <img src="assets/img/services/service-pic.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-items">
          <div class="row">
            <div class="col-md-6">
              <div class="services-item bg-gray">
                <img src="assets/img/services/service-icon-1.png" alt="" />
                <h4>Strategies</h4>
                <p>
                  Aenean massa. Cum sociis Theme et natoque penatibus et magnis
                  dis part urient montes.
                </p>
              </div>
              <div class="services-item bg-gray pd-b">
                <img src="assets/img/services/service-icon-3.png" alt="" />
                <h4>Workout</h4>
                <p>
                  Aenean massa. Cum sociis Theme et natoque penatibus et magnis
                  dis part urient montes.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="services-item">
                <img src="assets/img/services/service-icon-2.png" alt="" />
                <h4>Yoga</h4>
                <p>
                  Aenean massa. Cum sociis Theme et natoque penatibus et magnis
                  dis part urient montes.
                </p>
              </div>
              <div class="services-item pd-b">
                <img src="assets/img/services/service-icon-4.png" alt="" />
                <h4>Weight Loss</h4>
                <p>
                  Aenean massa. Cum sociis Theme et natoque penatibus et magnis
                  dis part urient montes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Classes Section Begin -->
<section class="classes-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>UNLIMITED CLASSES</h2>
        </div>
      </div>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(./assets/img/classes/classes-1.jpg)'"
          >
            <div class="si-text">
              <h4>Yoga</h4>
              <span><i class="fa fa-user"></i> Ryan Knight</span>
            </div>
          </div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(assets/img/classes/classes-4.jpg)'"
          >
            <div class="si-text">
              <h4>Karate</h4>
              <span><i class="fa fa-user"></i> Kevin McCormick</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(assets/img/classes/classes-2.jpg)'"
          >
            <div class="si-text">
              <h4>Running</h4>
              <span><i class="fa fa-user"></i> Randy Rivera</span>
            </div>
          </div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(assets/img/classes/classes-5.jpg)'"
          >
            <div class="si-text">
              <h4>Dance</h4>
              <span><i class="fa fa-user"></i> Russell Lane</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(assets/img/classes/classes-3.jpg)'"
          >
            <div class="si-text">
              <h4>Personal Training</h4>
              <span><i class="fa fa-user"></i> Cole Robertson</span>
            </div>
          </div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(assets/img/classes/classes-6.jpg)'"
          >
            <div class="si-text">
              <h4>Weight Loss</h4>
              <span><i class="fa fa-user"></i> Ryan Scott</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(assets/img/classes/classes-7.jpg)'"
          >
            <div class="si-text">
              <h4>Personal Training</h4>
              <span><i class="fa fa-user"></i> Cole Robertson</span>
            </div>
          </div>
          <div
            class="single-class-item set-bg"
            [style.background-image]="'url(assets/img/classes/classes-8.jpg)'"
          >
            <div class="si-text">
              <h4>Weight Loss</h4>
              <span><i class="fa fa-user"></i> Ryan Scott</span>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<!-- Classes Section End -->

<!-- Trainer Section Begin -->
<section class="trainer-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>EXPERT TRAINERS</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-trainer-item">
          <img src="assets/img/trainer/trainer-1.jpg" alt="" />
          <div class="trainer-text">
            <h5>Patrick Cortez</h5>
            <span>Leader</span>
            <p>
              non numquam eius modi tempora incidunt ut labore et dolore magnam
              aliquam quaerat voluptatem.
            </p>
            <div class="trainer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-trainer-item">
          <img src="assets/img/trainer/trainer-2.jpg" alt="" />
          <div class="trainer-text">
            <h5>Gregory Powers</h5>
            <span>Gym coach</span>
            <p>
              non numquam eius modi tempora incidunt ut labore et dolore magnam
              aliquam quaerat voluptatem.
            </p>
            <div class="trainer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-trainer-item">
          <img src="assets/img/trainer/trainer-3.jpg" alt="" />
          <div class="trainer-text">
            <h5>Walter Wagner</h5>
            <span>Dance trainer</span>
            <p>
              non numquam eius modi tempora incidunt ut labore et dolore magnam
              aliquam quaerat voluptatem.
            </p>
            <div class="trainer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Trainer Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>success stories</h2>
        </div>
      </div>
    </div>
  </div>

  <owl-carousel-o [options]="customOptions1">
    <ng-container *ngFor="let testimonial of testimonials">
      <ng-template carouselSlide>
        <div class="testimonial-item">
          <p>{{ testimonial.text }}</p>
          <div class="ti-pic">
            <img [src]="testimonial.image" alt="" />
            <div class="quote">
              <img [src]="testimonial.quoteImage" alt="" />
            </div>
          </div>
          <div class="ti-author">
            <h4>{{ testimonial.author }}</h4>
            <span>{{ testimonial.role }}</span>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>

<!-- Testimonial Section End -->

<!-- Banner Section Begin -->
<section
  class="banner-section set-bg"
  [style.background-image]="'url(./assets/img/banner-bg.jpg)'"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-text">
          <h2>Get training today</h2>
          <p>
            Gimply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry’s standard.
          </p>
          <a href="#" class="primary-btn banner-btn">Contact Now</a>
        </div>
      </div>
      <div class="col-lg-5">
        <img src="assets/img/banner-person.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-option">
          <span>Phone</span>
          <p>+91 9387013795</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-option">
          <span>Address</span>
          <p>14 MG Nagar Pallipuram PO palakkad</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-option">
          <span>Email</span>
          <p>info&#64;diebit.com</p>
        </div>
      </div>
    </div>
    <div
      class="subscribe-option set-bg"
      [style.background-image]="'url(./assets/img/footer-signup.jpg)'"
    >
      <div class="so-text">
        <h4>Subscribe To Our Mailing List</h4>
        <p>Sign up to receive the latest information</p>
      </div>
      <form action="#" class="subscribe-form">
        <input type="text" placeholder="Enter Your Mail" />
        <button type="submit"><i class="fa fa-send"></i></button>
      </form>
    </div>
    <div class="copyright-text">
    
      <p>&copy;</p>
      <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | This template is made with
        <i class="fa fa-heart" aria-hidden="true"></i> by
        <a href="#" target="_blank">Shefeeq</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      <div class="footer-social">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=en"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/accounts/login/?hl=en"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
