<header class="header-sign">
    <div class="container">
        <div class="logo">
            <a routerLink="/">
                <img src="assets/img/logo.png" alt="">
            </a>
        </div>
        
        <div id="mobile-menu-wrap"></div>
    </div>
</header>

<!-- ... (your header code) ... -->

<section class="main">
    <div>
        <h3>Forgot Password?</h3>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">     
            <div class="form-group">
                <label for="">E-mail:</label>
                <input type="text" class="form-control" formControlName="email" id="email">
                <span *ngIf="forgotForm.get('email')?.touched">
                    <span *ngIf="forgotForm.get('email')?.hasError('email')">
                      Please enter a valid email address
                    </span>
                    <span *ngIf="forgotForm.get('email')?.hasError('required')">
                      Please enter an email address
                    </span>
                  </span>
            </div>

          
            <button class="primary-btn" type="submit" >Submit</button>
        </form>
       
    </div>
</section>

