body{
    margin-top:20px;
}
.trainers-container {
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    margin-bottom: 20px; /* Adjust margin as needed */
}

.section h2 {
    margin-bottom: 10px; 
    margin-left: 30px;
}

.trainer-card {
    width: calc(33.33% - 50px); /* Adjust width as needed */
    margin-bottom: 20px;
    text-align: center;
}

.propic {
    width: 250px;
    height: 1350px;
}
.trainer-card img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adjust border radius for rounded corners */
}

.trainer-card p {
    margin-top: 10px;
    font-weight: bold;
}



.stylish-input-group .input-group-prepend {
    position: relative;
    display: flex;
    align-items: center;
}

.stylish-input-group .input-group-prepend .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
    height: 38px;
}

.stylish-input-group .input-group-prepend .dropdown-menu {
    width: 100%;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.stylish-input-group .form-control {
    padding-left: 42px; /* Adjust as needed */
}

.stylish-input-group .input-group-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.stylish-input-group .input-group-prepend .btn {
    height: 38px; /* Adjust the height as needed */
}


.stylish-input-group .input-group-prepend .btn {
    height: 38px; /* Adjust the height as needed */
    border: none; /* Remove the border */
}

.stylish-input-group .input-group-prepend .btn-primary {
    background-color: transparent; /* Set background color of the dropdown button to transparent */
    color: #007bff; /* Set text color of the dropdown button */
}

.stylish-input-group .input-group-prepend .btn-primary:focus,
.stylish-input-group .input-group-prepend .btn-primary.focus {
    box-shadow: none; /* Remove focus box shadow */
}

.stylish-input-group .input-group-prepend .btn-primary:hover {
    background-color: transparent; /* Set hover background color of the dropdown button to transparent */
    color: #0056b3; /* Set hover text color of the dropdown button */
}





