/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Content body */
.content-body {
    padding: 20px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Search input */
.stylish-input-group {
    margin-bottom: 20px;
}

.stylish-input-group .input-group-prepend .btn {
    border-radius: 0;
}

/* Trainer list section */
.section {
    margin-bottom: 40px;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.trainers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Minimum width of 250px, maximum 1 fractional unit */
    grid-gap: 20px; /* Spacing between cards */
    justify-content: center;
}

/* Trainer card */
.trainer-card,
.trainer-card-sub {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.trainer-card:hover,
.trainer-card-sub:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.trainer-card img,
.trainer-card-sub img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.trainer-card p,
.trainer-card-sub p {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

/* Set maximum width for subscribed trainer card */
.trainer-card-sub {
    max-width: 250px; /* Adjust as needed */
}

/* Center the subscribed trainer card */
.subscribed-trainer {
    display: flex;
    justify-content: center;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .trainers-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
    }
}
