<header class="header-sign">
    <div class="container">
        <div class="logo">
            <a href="./index.html">
                <img src="assets/img/logo.png" alt="">
            </a>
        </div>
        
        <div id="mobile-menu-wrap"></div>
    </div>
  </header>
  
  <!-- ... (your header code) ... -->
  
  <section class="main">
      <div>
          <h3>Trainer Login</h3>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">     
              <div class="form-group">
                  <label for="">E-mail:</label>
                  <input type="text" class="form-control" formControlName="email" id="email">
                  <span *ngIf="loginForm.get('email')?.touched">
                      <span *ngIf="loginForm.get('email')?.hasError('email')">
                        Please enter a valid email address
                      </span>
                      <span *ngIf="loginForm.get('email')?.hasError('required')">
                        Please enter an email address
                      </span>
                    </span>
              </div>
  
              <div class="form-group">
                  <label for="">Password:</label>
                  <input type="password" class="form-control" formControlName="password">
                  <span *ngIf="loginForm.get('password')?.touched">
                    <span *ngIf="loginForm.get('password')?.hasError('minlength')">
                      Password must be at least 6 characters long
                  </span>
                      <span *ngIf="loginForm.get('password')?.hasError('required')">
                        Please enter password
                      </span>
                    </span>
              </div> 
              <button class="primary-btn" type="submit" >Signup</button>
          </form>
          <div class="fpassword">
            <a routerLink="/forgotpassword">Forgot Password?</a>
  
          </div>
          <div class="fpassword">
            <a routerLink="/trainer/signup">signup</a>
  
          </div>
      </div>
  </section>
  
  