/* trainer-dashboard.component.css */
.content-body{
  min-height: 600px;
  min-height: 100vh;
}
.weight-update-link {
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: #262727; /* Link color */
    cursor: pointer;
  }

  
  .merged-history {
    margin-left: 20px;
    max-width: 110
    0px;
  }
  .weight-update-link:hover {
    color: #1a8a0b; /* Hover color */
  }
  
  .weight-update-link i {
    margin-right: 10px;
    font-size: 25px ;
  }

  .update {
    font-size: 30px;
  }
  
  .merged-history {
    margin-top: 10px;
    min-height: 25vh;
    margin-left: 35px;
   
  }

  .food-history h3 {
    color: #484949;
    font-size: 20px;
  }
  
  .food-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
   
  }
  
  .food-item span {
    text-align: right;
    flex: 1;
    text-align: center;
  }
  .col-md-6 span {
    text-align: left;
    color: #2f7979;
    font-size: 16px;
    margin-right: 45px; 
  }


  .chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
    padding: 0 30vh 0 30vh;
  }
  
  .chart {
    width: 75%; 
    margin-right: 10px;
  }
  .chart:last-child {
    margin-right: 0; /* Remove margin from the last chart to avoid extra space */
  }

  .calender {
    margin-left: 10vh;
  }
  .col-md-2 {
    width: 125px;
    margin-left: 10vh;
  }


  .merged-history .list-group-item button {
   display: flex;
    width:40px;
    align-items: center;
  }
 

  /* For small devices (phones) */
@media only screen and (max-width: 600px) {
  .calender {
    margin: 0 auto; /* Center align the calendar */
    padding: 0 30px;
  }
  .col-md-2 {
    width: auto;
    margin-left: 0;
    margin-right: auto; /* Center align the datepicker input */
  }
  .weight-update-link {
    padding: 15px;
  }
  .chart-container {
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }
  .chart {
    width: 100%;
    margin-bottom: 20px;
  }
 
}

/* For medium devices (tablets) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  /* Add your styles for medium devices here */
}

/* For large devices (desktops) */
@media only screen and (min-width: 992px) {
  /* Add your styles for large devices here */
}
