<div class="content-body">
    <p>ghhdgjsdf</p>
    <div class="row">
        <div class="ts-slider owl-carousel">
            <div class="col-lg-4">
                <div class="ts-item set-bg" data-setbg="img/team/team-1.jpg">
                    <div class="ts_text">
                        <h4>Athart Rachel</h4>
                        <span>Gym Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ts-item set-bg" data-setbg="img/team/team-2.jpg">
                    <div class="ts_text">
                        <h4>Athart Rachel</h4>
                        <span>Gym Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ts-item set-bg" data-setbg="img/team/team-3.jpg">
                    <div class="ts_text">
                        <h4>Athart Rachel</h4>
                        <span>Gym Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ts-item set-bg" data-setbg="img/team/team-4.jpg">
                    <div class="ts_text">
                        <h4>Athart Rachel</h4>
                        <span>Gym Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ts-item set-bg" data-setbg="img/team/team-5.jpg">
                    <div class="ts_text">
                        <h4>Athart Rachel</h4>
                        <span>Gym Trainer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ts-item set-bg" data-setbg="img/team/team-6.jpg">
                    <div class="ts_text">
                        <h4>Athart Rachel</h4>
                        <span>Gym Trainer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>ghdfjkghdfjkhgdfjkghdjkfghjkdfghjkdfhgjkdfhjdfhjkdfhgkjdfhgjkdfhgjkahjkahjkadbxcvbasdgfsadkasdhfkh</p>