<body>
    <button class="add-blog-button" [routerLink]="'/trainer/addblog'">Add Blog</button>
    
    <div class="blog-container">
        <div class="row">
            <div class="col-md-12" *ngFor="let blog of blogs">
                <div class="blog-card">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="blog-image">
                                <img [src]="blog.blogImage[0]" alt="Blog Image">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog-details">
                                <div class="blog-title">{{blog.title}}</div>
                                <div class="blog-content">{{blog.content}}</div>
                                <div class="blog-author">By {{blog.author}}</div>
                                <div class="blog-actions">
                                    <button class="edit-button" [routerLink]="['/trainer/editblog', blog._id]">Edit</button>
                                    <button class="delete-button" (click)="deleteBlog(blog._id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
